@import "variab.less";
@import "font.less";

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    scroll-behavior: smooth;
    font-family: @font;
    font-weight: 100;
    font-size: 1.1em;
}

.darkmode-trigger {
    position:fixed;
    clip:rect(0,0,0,0);
    height:0;
    width:0;
}

label[for=darkmode-trigger] {
    position:fixed;
    right:18px;
    top:18px;
    z-index:301;
    height:25px;
    width:25px;
    cursor:pointer;

    border: solid 1px var(--backgroundcolor-lighter);
    //background: linear-gradient(135deg, rgba(0,0,0,0) 51%, var(--backgroundcolor-lightest) 51%);
    transition: border-color @transition-time ease;

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        border-bottom: 23px solid var(--foregroundcolor-lighter);
        border-left: 23px solid transparent;

        transition: border-color @transition-time ease;
    }

    &:hover {
        border: solid 1px var(--backgroundcolor-lightest);

        &::before {
            border-bottom-color: var(--foregroundcolor-lightest);
        }
    }
}

label.format-selector {
    position:fixed;
    top:18px;
    z-index:301;
    height:25px;
    width:25px;
    cursor:pointer;

    transition: all @transition-time ease-out;
    border: solid 1px var(--backgroundcolor-lighter);

    &:hover {
        border-color: var(--backgroundcolor-lightest);
    }
}

label[for=format-selector-panorama] {
    right:105px;
    top: 23px;
    height: 15px;
}

label[for=format-selector-square] {
    right:75px;
}

label[for=format-selector-portrait] {
    right:55px;
    width: 15px;
}

input.darkmode-trigger:checked {
    + label {
        border-color: var(--foregroundcolor-lightest);

        &::before {
            border-bottom-color: var(--backgroundcolor-lightest);
        }

        &:hover {
            border: solid 1px var(--backgroundcolor-lighter);

            &::before {
                border-bottom-color: var(--backgroundcolor-lighter);
            }
        }
    }

    ~ label.format-selector {
        border-color: var(--foregroundcolor-lightest);
    }

    ~ label.format-selector:hover {
        border-color: var(--backgroundcolor-lightest);
        color:var(--backgroundcolor-lightest);
    }
    ~ input.format-selector:checked + label.format-selector {
        border-color: var(--backgroundcolor);
    }
    ~ div.body{
        --backgroundcolor:#f5f5f5;
        --backgroundcolor-trans:hsla(0,0%,96.1%,0.8);
        --backgroundcolor-light:#e3e3e3;
        --backgroundcolor-light-trans:hsla(0,0%,89%,0.8);
        --backgroundcolor-lighter:#d1d1d1;
        --foregroundcolor:#141414;
        --foregroundcolor-trans:rgba(20,20,20,0.8);
        --foregroundcolor-light:#262626;
        --foregroundcolor-light-trans:rgba(38,38,38,0.8);
        --foregroundcolor-lighter:#383838;
    }
}

input.format-selector {
    position:fixed;
    clip:rect(0,0,0,0);
    height:0;
    width:0;

    &:checked{
        + label.format-selector{
            cursor:default;

            border-color: var(--foregroundcolor);
        }
    }
}

#format-selector-square:checked~div.body {
    --grid-article-aspect-ratio:100%;
}

#format-selector-portrait:checked ~ div.body {
    --grid-article-aspect-ratio:150%;
}

div.body, div.body * {
    transition: color @transition-time ease-out,
        background-color @transition-time ease-out;
}

div.body {
    color: var(--foregroundcolor);
    background-color: var(--backgroundcolor);
    min-height: 100vh;
    padding-top: 60px;

    overflow: hidden;

    header{
        > div {
            position: fixed;
            top: 0;
            z-index: calc(@nav-z-index - 1);
            width: 100%;
            background-color: var(--backgroundcolor-light-trans);
            backdrop-filter: blur(10px);
            line-height: 60px;
            padding-left: 65px;
            color: var(--foregroundcolor);
            font-size: 1.5em;
            box-shadow: 0 0 20px var(--backgroundcolor);
            text-align: center;

            @supports not (backdrop-filter: blur(10px)) {
                background-color: var(--backgroundcolor-light);
                backdrop-filter: none;
            }
        }

        nav{
            transition: width @transition-time ease-out;
            position: fixed;
            left: -2px;
            top: 0;
            bottom: 0;
            width: 0;
            font-size: 1em;
            background: 0 0;
            background-color: var(--backgroundcolor-light-trans);
            backdrop-filter: blur(10px);
            overflow: hidden;
            z-index: @nav-z-index;
            pointer-events: none;
            box-shadow: none;
            border-right: 1px solid var(--foregroundcolor-light);

            @supports not (backdrop-filter: blur(10px)) {
                background-color: var(--backgroundcolor-light);
                backdrop-filter: none;
            }

            #searchbox {
                label{
                    display:none;
                }

                input{
                    color: var(--backgroundcolor-light);
                    background-color: var(--foregroundcolor-light);
                    border: none;
                    font-size: 1.2em;
                    font-family: @font;
                    line-height: 60px;
                    display: inline-block;
                    width: 100%;
                    padding: 0 1rem;
                    -webkit-appearance: none;
                    border-radius: 0;
                }
            }

            span.devider {
                width: 100%;
                height: 30px;
                display: inline-block;
            }

            a {
                position: relative;
                padding: 0 1rem;
                text-decoration: none;
                color: var(--foregroundcolor);
                font-size: 1.2em;
                line-height: 60px;
                display: inline-block;
                width: 100%;
                transition: background-color @transition-time ease-out,
                    padding-left @transition-time ease-out;

                &:after{
                    content:"";
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    height: 1px;
                    background-color: var(--foregroundcolor-light);
                    transition: width @transition-time;
                }

                &.active, &:hover {
                    color: var(--foregroundcolor-light);
                    padding-left: 1.3rem;

                    @supports not (backdrop-filter: blur(10px)) {
                        background-color: var(--backgroundcolor-lighter);
                        backdrop-filter: none;
                    }        
                }

                &.active {
                    pointer-events: none;
                    cursor: default;
                }

                &.active:after, &:hover:after{
                    width: calc(100% - 1rem);
                    transition:width @transition-time;
                }

                &.devider{
                    pointer-events:none;
                    cursor:default;
                    line-height:0;
                }
            }
        }

        .nav-trigger{
            position:fixed;
            clip:rect(0,0,0,0);
            height:0;
            width:0;
        }

        label[for=nav-trigger]{
            position:fixed;
            left:15px;
            top:15px;
            z-index:301;
            height:31px;
            width:35px;
            padding-left:5px;
            cursor:pointer;
            filter:drop-shadow(0 0 1px var(--backgroundcolor));
            transition:left @transition-time;

            * {
                -webkit-transition: all @transition-time;
                transition: all @transition-time;
                box-sizing: border-box;
            }

            &:hover i{
                background-color: var(--foregroundcolor-light);
            }

            i {
                display: block;
                position: absolute;
                height: 1px;
                width: 25px;
                background-color: var(--foregroundcolor);

                &:first-child{
                    top:6px;
                }

                &:nth-child(2){
                    top:14px;
                }
                &:nth-child(3){
                    top:22px;
                }
            }
        }

        .nav-trigger:checked {
            + label {
                left: calc(@nav-width + 16px);

                > i{
                    &:first-child {
                        -webkit-transform: translateY(-1px) rotate(-135deg);
                        transform: translateY(-1px) rotate(-135deg);
                        margin-top: 10px;
                    }

                    &:nth-child(2){
                        opacity:0;
                    }

                    &:nth-child(3) {
                        -webkit-transform: translateY(2px) rotate(135deg);
                        transform: translateY(2px) rotate(135deg);
                        margin-top: -12px;
                    }
                }

            }

            ~nav {
                width: @nav-width;
                pointer-events:all;
                box-shadow:0 0 20px var(--backgroundcolor);
            }
        }
    }

    .grid{
        display: grid;
        grid-template-columns: var(--grid-template-columns);
        grid-gap: 0;
        grid-auto-flow: dense;
        margin-right: -1px;
        margin-bottom: -1px;

        article{
            overflow:hidden;
            padding-top:var(--grid-article-aspect-ratio);
            position:relative;
            outline-width:0;
            transition:padding-top @transition-time ease;

            border-right: solid 1px var(--backgroundcolor-light-trans);
            border-bottom: solid 1px var(--backgroundcolor-light-trans);

            :hover{
                
            }

            figure{
                position:absolute;
                top:-2px;
                left: -2px;
                height:calc(100% + 4px);
                width:calc(100% + 4px);

                img{
                    width:100%;
                    height:100%;
                    object-fit:contain;
                }
            }
        }
    }
}

// Media queries based on this:
// https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
@media screen and (max-width: 599px){
    div.body {
        header {
            > div {
                text-align: left;
            }

            nav{
                padding-top: 60px
            }

            .nav-trigger:checked {
                ~ nav{
                    width: 100vw
                }

                + label{
                    left: 15px
                }
            }
        }
        .grid{
            grid-template-columns: repeat(1,1fr)
        }
        .span-2,.span-3{
            grid-column-end:span 1;
            grid-row-end:span 1
        }
    }
}
@media screen and (min-width:600px){
    div.body {
        .grid{
            grid-template-columns:repeat(2,1fr)
        }
        .span-3{
            grid-column-end:span 2;
            grid-row-end:span 2
        }
}
}
@media screen and (min-width:900px){
    div.body {
        .grid{
            grid-template-columns:repeat(3,1fr)
        }
        .span-2{
            grid-column-end:span 2;
            grid-row-end:span 2
        }
        .span-3{
            grid-column-end:span 3;
            grid-row-end:span 3
        }
    }
}
@media screen and (min-width:1200px){
    div.body .grid{
        grid-template-columns:repeat(4,1fr)
    }
}
@media screen and (min-width:1800px){
    div.body .grid{
        grid-template-columns:repeat(auto-fit,minmax(400px, 1fr))
    }
}
