@backgroundcolor: rgb(20, 20, 20);
@backgroundcolor-trans: rgba(20, 20, 20, 0.8);
@backgroundcolor-light: rgb(38, 38, 38);
@backgroundcolor-light-trans: rgba(38, 38, 38, 0.8);
@backgroundcolor-lighter: rgb(56, 56, 56);
@backgroundcolor-lighter-trans: rgba(56, 56, 56, 0.8);
@backgroundcolor-lightest: rgb(74, 74, 74);
@backgroundcolor-lightest-trans: rgba(74, 74, 74, 0.8);

@foregroundcolor: rgb(245, 245, 245);
@foregroundcolor-trans: rgba(245, 245, 245, 0.8);
@foregroundcolor-light: rgb(227, 227, 227);
@foregroundcolor-light-trans: rgba(227, 227, 227, 0.8);
@foregroundcolor-lighter: rgb(209, 209, 209);
@foregroundcolor-lighter-trans: rgba(209, 209, 209, 0.8);
@foregroundcolor-lightest: rgb(191, 191, 191);
@foregroundcolor-lightest-trans: rgba(191, 191, 191, 0.8);


@box-shadow-top: 0 -10px 30px rgba(0, 0, 0, .1), 0 -1px 8px rgba(0, 0, 0, .2);
@box-shadow-right: 10px 0 30px rgba(0, 0, 0, 0.1), 1px 0 8px rgba(0, 0, 0, 0.2);
@box-shadow-down: 0 10px 30px rgba(0, 0, 0, .1), 0 1px 8px rgba(0, 0, 0, .2);
@box-shadow-left: -10px 0 30px rgba(0, 0, 0, 0.1), -1px 0 8px rgba(0, 0, 0, 0.2);

@transition-time: 250ms;

@nav-width: 250px;
@nav-z-index: 300;
@spacer-height: 60px;


:root {
    --backgroundcolor: @backgroundcolor;
    --backgroundcolor-trans: @backgroundcolor-trans;
    --backgroundcolor-light: @backgroundcolor-light;
    --backgroundcolor-light-trans: @backgroundcolor-light-trans;
    --backgroundcolor-lighter: @backgroundcolor-lighter;
    --backgroundcolor-lighter-trans: @backgroundcolor-lighter-trans;
    --backgroundcolor-lightest: @backgroundcolor-lightest;
    --backgroundcolor-lightest-trans: @backgroundcolor-lightest-trans;

    --foregroundcolor: @foregroundcolor;
    --foregroundcolor-trans: @foregroundcolor-trans;
    --foregroundcolor-light: @foregroundcolor-light;
    --foregroundcolor-light-trans: @foregroundcolor-light-trans;
    --foregroundcolor-lighter: @foregroundcolor-lighter;
    --foregroundcolor-lighter-trans: @foregroundcolor-lighter-trans;
    --foregroundcolor-lightest: @foregroundcolor-lightest;
    --foregroundcolor-lightest-trans: @foregroundcolor-lightest-trans;

    --grid-template-columns: repeat(3, 1fr);
    --grid-article-aspect-ratio: calc(100% / 3 * 2);
    --grid-min-img-width: 200px;
    --grid-image-mode: contain;

}
