:root {
    color-scheme: light dark;

    --color-hsl: 0deg 0% 40%;
    --color-light-hsl: 0deg 0% 50%;
    --color-dark-hsl: 0deg 0% 10%;
    --color-background-hsl: 0deg 0% 100%;

    --animation-time: 270ms;

    --color-shadow: 0deg 0% 71%;

    /* @link https://utopia.fyi/type/calculator?c=320,12,1.2,900,16,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --font-size-0: clamp(0.75rem, 0.6121rem + 0.6897vw, 1rem);
    --font-size-1: clamp(0.9rem, 0.7069rem + 0.9655vw, 1.25rem);
    --font-size-2: clamp(1.08rem, 0.8138rem + 1.331vw, 1.5625rem);
    --font-size-3: clamp(1.296rem, 0.9334rem + 1.8128vw, 1.9531rem);
    --font-size-4: clamp(1.5552rem, 1.0663rem + 2.4447vw, 2.4414rem);
    --font-size-5: clamp(1.8662rem, 1.2122rem + 3.2704vw, 3.0518rem);

    /* @link https://utopia.fyi/space/calculator?c=320,12,1.2,900,16,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */
    --space-3xs: clamp(0.1875rem, 0.153rem + 0.1724vw, 0.25rem);
    --space-2xs: clamp(0.375rem, 0.306rem + 0.3448vw, 0.5rem);
    --space-xs: clamp(0.5625rem, 0.4591rem + 0.5172vw, 0.75rem);
    --space-s: clamp(0.75rem, 0.6121rem + 0.6897vw, 1rem);
    --space-m: clamp(1.125rem, 0.9181rem + 1.0345vw, 1.5rem);
    --space-l: clamp(1.5rem, 1.2241rem + 1.3793vw, 2rem);
    --space-xl: clamp(2.25rem, 1.8362rem + 2.069vw, 3rem);
    --space-2xl: clamp(3rem, 2.4483rem + 2.7586vw, 4rem);
    --space-3xl: clamp(4.5rem, 3.6724rem + 4.1379vw, 6rem);

    --content-max-width: 900px;
    --breakout-max-width: 1240px;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

    // dynamic size does not work here as of rounding issues
    --grid-gap: var(--space-xs);

    @media (prefers-color-scheme: dark) {
        --color-hsl: 0deg 0% 70%;
        --color-light-hsl: 0deg 0% 50%;
        --color-dark-hsl: 0deg 0% 90%;
        --color-background-hsl: 0deg 0% 0%;
    }

    @media (prefers-reduced-motion: reduced) {
        --animation-time: 0ms;
    }
}