@use '../abstracts/variables';

#content {
    position: relative;
    z-index: 200;
    display: flex;
    flex: none;
    flex-flow: column nowrap;
    background-color: rgb(20, 20, 30);
    width: auto;
    margin-top: variables.$divider-height * -1;
    box-shadow: variables.$box-shadow;

    transform: translateX(0);
    transition: transform variables.$duration-default variables.$transition-mode;

    color: var(--foregroundcolor);

    &::after {
        transition: opacity variables.$duration-default variables.$transition-mode;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: var(--backgroundcolor-trans);
    
        opacity: 0;
        pointer-events: none;
    }

    article {
        position: sticky;
        top: variables.$divider-height * -1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;

        background-color: var(--backgroundcolor);
        
        align-items: flex-start;

        //cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        content-visibility: auto;

        &:last-child {
            height: calc(100vh + #{variables.$divider-height});
        }

        .info {
            position: absolute;
            left: 0;
            height: 100px;
            width: 200px;
            background-color: var(--backgroundcolor-trans);
            backdrop-filter: blur(10px);
        }

        > div {
            position: relative;
            width: 150vh;
            max-width: 100%;

            border-top: variables.$divider-height solid var(--backgroundcolor);


            img {
                max-width: 100%;
                max-height: 100vh;
                margin: auto;
                display: block;
            }

            &.devider {
                background-color: var(--backgroundcolor-light);

                > h3 {
                    padding: 0 60px;
                    font-size: 1.1em;
                    font-weight: normal;
                    line-height: variables.$spacer-height;
                    background-color: var(--backgroundcolor-lighter);
                    text-shadow: 0px 0px 1px var(--backgroundcolor);

                    + *{
                       border-top: variables.$divider-height solid var(--backgroundcolor-light);
                    }
                }

                > h2 {
                    padding: 0 60px 1em 60px;
                    font-size: 1.1em;
                    font-weight: normal;
                }

                > p {
                    padding: 0 60px .5em 60px;
                }

                .preview {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: stretch;
                    align-content: flex-start;

                    > div {
                        flex: 0 0 auto;
                        width: 20%;
                        position: relative;

                        a {
                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: var(--backgroundcolor);
                                opacity: 0;
                                transition: opacity variables.$duration-default variables.$transition-mode;
                            }

                            &::after {
                                position: absolute;
                                bottom: 35px;
                                left: 15px;
                                content: "";
                                display: block;
                                width: 25px;
                                height: 25px;
                                border-left: solid 3px var(--foregroundcolor-light);
                                border-bottom: solid 3px var(--foregroundcolor-light);

                                filter: drop-shadow(
                                    0px 0px 1px var(--backgroundcolor)
                                );
                                transform: rotate(-45deg);
                                transition: opacity variables.$duration-default
                                    variables.$transition-mode;
                                transition: bottom variables.$duration-default
                                    variables.$transition-mode;

                                opacity: 0;
                            }
                            &:hover {
                                &::before {
                                    opacity: 0.5;
                                }

                                &::after {
                                    bottom: 15px;
                                    opacity: 1;
                                }
                            }
                        }

                        img {
                            outline: none;
                        }
                    }
                }
            }
        }

        &.zooming{
            z-index: 9999;

            > div {
                img{
                    transform: translate3d(var(--zoom-x), var(--zoom-y), 0) scale(var(--zoom-scale));
                    -webkit-transform: translate3d(var(--zoom-x), var(--zoom-y), 0) scale(var(--zoom-scale));

                    box-shadow: variables.$box-shadow;
                }
            }
        }
    }

    #image {
        position: sticky;
        top: 0;
    }

    #description {
        position: relative;

        > div {
            padding: 2rem;
            outline: 1px solid var(--backgroundcolor);
            background-color: var(--backgroundcolor-trans);
            backdrop-filter: blur(10px);
            width: 500px;

            h1 {
                font-size: 1.6em;
                margin-bottom: 0.8em;

                &::after {
                    content: "";
                    display: block;
                    height: 2px;
                    margin: 0 -1rem;
                    background-color: var(--foregroundcolor-light);
                }
            }

            h2 {
                font-size: 1.4em;
                margin-bottom: 0.7em;
            }

            p {
                font-size: 1.2em;
                margin-bottom: 0.6em;
                color: var(--foregroundcolor-light);
            }

            table {
                td {
                    &:first-of-type {
                        color: var(--foregroundcolor-light);
                        text-align: right;
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 864px) {
}
