.nav-trigger {
    position: fixed;
    clip: rect(0, 0, 0, 0);
}

label[for=nav-trigger] {
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition-property: transform, color, border-bottom;
    transition-duration: var(--animation-time);
    transition-timing-function: ease-in-out;

    display: inline-flex;

    transform: rotate(-90deg);

    color: hsl(var(--color-light-hsl));

    &:hover {
        color: hsl(var(--color-dark-hsl));
    }

    span {
        transition: transform var(--animation-time) ease-in-out,
            opacity var(--animation-time) ease-in-out;

        &:first-child {
            display: none;
        }
    }
}

.nav-trigger:has(~ #nav:focus-within),
.nav-trigger:checked {
    ~* label[for="nav-trigger"] {
        >span:nth-child(2) {
            transform: translateX(40%) rotate(-135deg);
        }

        >span:nth-child(3) {
            opacity: 0;
        }

        >span:nth-child(4) {
            transform: translateX(-110%) translateY(5%) rotate(135deg);
        }
    }
}

body>menu {
    grid-column: full-width;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    z-index: 200;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: var(--space-l);

    transition-property: display, opacity;
    transition-duration: var(--animation-time);
    transition-timing-function: ease-in-out;
    transform-style: ease-in-out;
    transition-behavior: allow-discrete;
    opacity: 0;

    background-color: hsl(var(--color-background-hsl) / 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(2rem);
    backdrop-filter: saturate(180%) blur(2rem);

    padding-top: var(--space-3xl);

    section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        h3 {
            font-weight: 100;
            font-size: var(--font-size-3);
            margin-bottom: var(--space-s);
        }

        a {
            font-weight: 100;
            font-size: var(--font-size-3);
            text-decoration: none;
            color: hsl(var(--color-light-hsl));

            transition-property: color, border-bottom;
            transition-duration: var(--animation-time);
            transition-timing-function: ease-in-out;

            &:hover {
                color: hsl(var(--color-dark-hsl));
            }

            &.active {
                color: hsl(var(--color-dark-hsl));
            }
        }
    }
}

menu:focus-within,
.nav-trigger:checked~menu {
    display: flex;
    opacity: 1;
    align-content: center;

    @starting-style {
        opacity: 0;
    }
}

menu:focus-within~header,
.nav-trigger:checked~header {

    nav,
    form {
        opacity: 0;
    }
}