main {
    grid-column: content;
    margin-top: var(--space-2xl);

    >section {
        >h1 {
            margin: 0 calc(var(--space-s) * -1) var(--space-l) calc(var(--space-s) * -1);
            padding: 0 var(--space-s);
            font-size: var(--font-size-4);
            letter-spacing: 0.1em;
            font-weight: 100;
            border-bottom: solid 1px hsl(var(--color-hsl) / 0.3);
            flex: 1 1 100%;
        }

        >h2 {
            margin: 0 calc(var(--space-s) * -1) var(--space-m) calc(var(--space-s) * -1);
            padding: 0 var(--space-s);
            font-size: var(--font-size-3);
            letter-spacing: 0.1em;
            font-weight: 100;
            border-bottom: solid 1px hsl(var(--color-hsl) / 0.3);
            background-color: hsl(var(--color-background-hsl));
            position: relative;
            //z-index: 190;
            outline: solid calc(var(--space-m)) hsl(var(--color-background-hsl));
            box-shadow: 0px calc(var(--space-m) + var(--grid-gap)) 0 0 hsl(var(--color-background-hsl));
            flex: 1 1 100%;
        }

        >p {
            margin-bottom: var(--space-m);
            font-size: var(--font-size-2);
            letter-spacing: 0.02em;
            flex: 1 1 100%;
        }
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        grid-gap: var(--grid-gap);
        position: relative;
        margin-bottom: var(--space-l);

        >article {
            flex-grow: calc(var(--width) * (500000000 / var(--height)));
            flex-basis: calc(var(--space-s) * 15 * (var(--width) / var(--height)));
            position: relative;
            background-color: hsl(var(--color-background-hsl));
            outline: solid var(--grid-gap) hsl(var(--color-background-hsl));

            cursor: zoom-in;

            // When a image is too tall to fit on a small screen set it center
            display: flex;
            justify-content: center;

            >picture {
                aspect-ratio: var(--width) / calc(var(--height)* 2);
                display: inline-block;
                // fix for the blank space below the image
                vertical-align: top;

                margin-bottom: max(-100% / (var(--width) / var(--height)), max(-100dvh, var(--height) * -1px));
                background-color: hsl(var(--color-background-hsl));
            }

            img {
                max-width: 100%;
                max-height: 100vh;
                height: auto;
                object-fit: contain;
                margin: auto;
                display: block;
                position: sticky;
                top: calc(var(--space-xl) + var(--space-xs));
            }

            picture+aside {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                height: var(--space-m);
                line-height: var(--space-m);
                display: none;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: flex-end;
                font-size: var(--font-size-0);
                transition-property: display, opacity;
                transition-duration: var(--animation-time);
                transform-style: ease-in-out;
                transition-behavior: allow-discrete;
                opacity: 0;
                z-index: 350;

                cursor: default;

                p {
                    padding-inline: var(--space-2xs);
                }
            }

            figure {

                display: none;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 300;

                transition-property: display, opacity;
                transition-duration: var(--animation-time);
                transform-style: ease-in-out;
                transition-behavior: allow-discrete;
                opacity: 0;

                justify-content: center;
                align-items: center;

                background-color: hsl(var(--color-background-hsl) / 0.85);
                -webkit-backdrop-filter: saturate(180%) blur(2rem);
                backdrop-filter: saturate(180%) blur(2rem);

                cursor: default;

                // Loading bar
                &::before {
                    content: " ";
                    position: fixed;
                    width: 10rem;
                    height: 2px;

                    background:
                        linear-gradient(hsl(var(--color-light-hsl) / 0.6) 0 0) left -25% top 0 /20% 100% no-repeat hsl(var(--color-background-hsl) / 0.4);
                    animation: ct7 1s infinite steps(6);

                    @keyframes ct7 {
                        100% {
                            background-position: right -25% top 0
                        }
                    }
                }

                >a {
                    position: absolute;
                    display: block;
                    height: 100%;
                    width: 100%;
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    cursor: zoom-out;

                    &::after {
                        content: "+";
                        user-select: none;
                        position: fixed;
                        top: 0;
                        right: var(--space-2xs);
                        z-index: 1000;
                        color: hsl(var(--color-hsl));
                        cursor: pointer;
                        font-size: var(--font-size-5);
                        font-weight: 100;
                        text-indent: 0;
                        height: var(--font-size-5);
                        line-height: var(--font-size-5);
                        overflow: hidden;

                        transform: rotate(45deg);
                    }
                }

                img {
                    outline: none;
                    pointer-events: none;

                    position: relative;
                    z-index: 190;
                    top: 0;
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 100dvw;
                    max-height: calc(100dvh - (var(--space-m) * 2));
                    box-shadow: 0px 0px var(--space-l) 0px hsl(var(--color-background-hsl));
                }
            }

            &:focus,
            &:target {
                >picture {
                    >img {}

                    +aside {
                        display: flex;
                        opacity: 1;

                        @starting-style {
                            opacity: 0;
                        }
                    }
                }

                figure {
                    display: flex;
                    opacity: 1;

                    @starting-style {
                        opacity: 0;
                    }

                    img {
                        transition: all var(--animation-time);
                    }

                    &.zooming {
                        img {
                            transition: none;
                            transform: translate3d(var(--zoom-x), var(--zoom-y), 0) scale(var(--zoom-scale));
                            -webkit-transform: translate3d(var(--zoom-x), var(--zoom-y), 0) scale(var(--zoom-scale));
                        }
                    }
                }
            }
        }

        &:after {
            content: " ";
            flex-grow: 1000000000;
            background: hsl(var(--color-background-hsl));
            position: relative;
            outline: solid var(--grid-gap) hsl(var(--color-background-hsl));

            @media (width <=600px) {
                display: none;
            }
        }
    }
}
