$backgroundcolor: rgb(20, 20, 30);
$backgroundcolor-trans: rgba(20, 20, 30, 0.8);
$backgroundcolor-light: rgb(31, 31, 39);
$backgroundcolor-lighter: rgb(53, 53, 59);

$foregroundcolor: rgb(255, 255, 255);
$foregroundcolor-light: rgb(235, 235, 255);

$spacer-height: 60px;
$divider-height: 3px;

$nav-width: 250px;

$duration-default: 0.4s;

$box-shadow: 0 0 20px $backgroundcolor;

:root {
    --backgroundcolor: #{$backgroundcolor};
    --backgroundcolor-trans: #{$backgroundcolor-trans};
    --backgroundcolor-light: #{$backgroundcolor-light};
    --backgroundcolor-lighter: #{$backgroundcolor-lighter};

    --foregroundcolor: #{$foregroundcolor};
    --foregroundcolor-light: #{$foregroundcolor-light};
}

