@use '../abstracts/variables';

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: variables.$grid-gap;
    justify-content: center;

    margin: variables.$grid-gap;

    > article {
        flex-grow: calc(var(--width) * (100000 / var(--height)));
        flex-basis: calc(15rem * (var(--width) / var(--height)));
        aspect-ratio: var(--width) / var(--height);
        position: relative;

        background-color: var(--backgroundcolor-image);
        background-size: cover;
        box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);

        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;
            width: calc( 100% + 12px);
            height: calc( 100% + 12px);
            background-size: cover;
            background-image: var(--background-image);
            filter: blur(20px);
            opacity: 0.8;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &:after {
        content: "";
        flex-grow: 1000000000;
    }
}