*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  text-wrap: balance;
}

p, li, figcaption {
  text-wrap: pretty;
  max-width: 80ch
}
