@use 'typography';

body,
html {
    scroll-behavior: smooth;
}

body {
    font-family: typography.$font;
    font-weight: 100;
    font-size: 1.1em;

    color: var(--foregroundcolor);
    background-color: var(--backgroundcolor);
    overflow-x: hidden;
}
