@use 'typography';

body,
html {
    scroll-behavior: smooth;
    font-family: typography.$font;
    font-weight: 100;
    font-size: 1.1em;
    height: 100%;
    width: 100%;

    color: var(--foregroundcolor);
    background-color: var(--backgroundcolor);

    overflow: hidden;
    overscroll-behavior: none;
}