@import "variab.less";
@import "gg.less";
@import "font.less";

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    font-family: @font;
    font-weight: 100;
    font-size: 1.1em;

    color: var(--foregroundcolor);
    background-color: var(--backgroundcolor);

    display: grid;
}

header {
    > div:first-child {
        position: fixed;
        top: 0;
        z-index: calc(@nav-z-index + 10);
        width: 100vh;
        background-color: var(--backgroundcolor-light-trans);
        backdrop-filter: @backdrop-filter;
        line-height: @spacer-height;
        padding-left: @spacer-height;
        color: var(--foregroundcolor);
        font-size: 1.5em;
        box-shadow: @box-shadow-down;

        transform: rotateZ(90deg) translateX(-60px);
        transform-origin: bottom left;

        @supports not (backdrop-filter: blur(3px)) {
            background-color: var(--backgroundcolor-light);
            backdrop-filter: none;
        }
    }

    nav {
        transition: transform @transition-time ease-out;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: @nav-width;
        font-size: 1em;
        background: 0 0;
        background-color: var(--backgroundcolor-light-trans);
        backdrop-filter: @backdrop-filter;
        overflow: hidden;
        z-index: @nav-z-index;
        pointer-events: none;
        box-shadow: none;
        transform: translateX(-@nav-width);

        @supports not (backdrop-filter: blur(3px)) {
            background-color: var(--backgroundcolor-light);
            backdrop-filter: none;
        }

        #searchbox {
            label {
                display: none;
            }

            input {
                color: var(--backgroundcolor-light);
                background-color: var(--foregroundcolor-light);
                border: none;
                font-size: 1.2em;
                font-family: @font;
                line-height: @spacer-height;
                display: inline-block;
                width: 100%;
                padding: 0 1rem;
                -webkit-appearance: none;
                border-radius: 0;
            }
        }

        span.devider {
            width: 100%;
            height: 30px;
            display: inline-block;
        }

        a {
            position: relative;
            padding: 0 1rem;
            text-decoration: none;
            color: var(--foregroundcolor);
            font-size: 1.2em;
            line-height: @spacer-height;
            display: inline-block;
            width: 100%;
            transition: background-color @transition-time ease-out,
                padding-left @transition-time ease-out;

            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: var(--foregroundcolor-light);
                transition: width @transition-time ease-out;
            }

            &.active,
            &:hover {
                color: var(--foregroundcolor-light);
                padding-left: 1.3rem;
            }

            &.active {
                pointer-events: none;
                cursor: default;
            }

            &.active:after,
            &:hover:after {
                width: calc(100% - 1rem);
                transition: width @transition-time ease-out;
            }

            &.devider {
                pointer-events: none;
                cursor: default;
                line-height: 0;
            }
        }
    }

    .nav-trigger {
        position: fixed;
        clip: rect(0, 0, 0, 0);
        height: 0;
        width: 0;
    }

    label[for="nav-trigger"] {
        position: fixed;
        left: 15px;
        top: 15px;
        z-index: calc(@nav-z-index + 20);
        height: 31px;
        width: 35px;
        cursor: pointer;
        filter: drop-shadow(0 0 1px var(--backgroundcolor));

        * {
            -webkit-transition: all @transition-time ease-out;
            transition: all @transition-time ease-out;
            box-sizing: border-box;
        }

        &:hover i {
            background-color: var(--foregroundcolor-light);
        }

        i {
            display: block;
            position: absolute;
            height: 1px;
            width: 25px;
            background-color: var(--foregroundcolor);

            &:first-child {
                top: 6px;
            }

            &:nth-child(2) {
                top: 14px;
            }
            &:nth-child(3) {
                top: 22px;
            }
        }
    }

    .nav-trigger:checked {
        + label {
            > i {
                &:first-child {
                    -webkit-transform: translateY(-1px) rotate(-135deg);
                    transform: translateY(-1px) rotate(-135deg);
                    margin-top: 10px;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    -webkit-transform: translateY(2px) rotate(135deg);
                    transform: translateY(2px) rotate(135deg);
                    margin-top: -12px;
                }
            }
        }

        ~ nav {
            transform: translateX(@spacer-height);
            pointer-events: all;
            box-shadow: @box-shadow-right;
        }
    }
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 1vw 1vw 0 calc(@spacer-height + 1vw);

    overflow-y: scroll;
    scroll-snap-type: y proximity;

    > div {
        position: relative;
        margin: 1vw;
        box-shadow: 2px 2px 6px #000, -2px -2px 6px #111;
        cursor: pointer;

        overflow: hidden;
        scroll-snap-align: center;

        img {
            display: block;
            max-height: ~"min(calc(100vw / 3 - 4vw), calc(100vh - 2vw))";
            width: auto;
        }

        .title {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: auto;

            color: var(--foregroundcolor);
            text-align: center;
            font-size: 1.5em;

            opacity: 0;
            transition: all 350ms ease-in-out;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--backgroundcolor-light-trans);
            border: solid 1px var(--foregroundcolor);

            backdrop-filter: @backdrop-filter;

            @supports not (backdrop-filter: blur(3px)) {
                background-color: var(--backgroundcolor-light);
                backdrop-filter: none;
            }

            p {
                margin: 10px;
            }
        }

        &:focus {
            outline: none;
            .title {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    > article {
        position: relative;
        margin: 1vw;
        box-shadow: 2px 2px 6px #000, -2px -2px 6px #111;
        cursor: pointer;

        overflow: hidden;
        scroll-snap-align: center;

        max-width: 40vw;
        height: ~"min(calc(100vw / 3 - 2.5vw), calc(100vh - @{spacer-height} - 2vw), 800px)";
        padding: 3vw;

        border: solid 1px var(--backgroundcolor);
        background-color: var(--backgroundcolor-light);

        font-size: ~"clamp(0.5rem, 1.2vw, 1.4rem)";

        transition: border 350ms ease-in-out;

        &:focus {
            outline: none;
            border: solid 1px var(--foregroundcolor);
        }

        :before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 90%,
                var(--backgroundcolor-light) 95%
            );
            pointer-events: none;
        }

        &.big {
            max-width: calc(100% - 4vw);
            height: auto;
        }

        h2 {
            font-size: 2em;
            margin-bottom: 1em;
        }
        h3 {
            font-size: 1.5em;
            margin-bottom: 1em;
        }
        p {
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }
    }

    > hr {
        width: calc(100% - 4vw);

        line-height: 1em;
        font-size: 1.5em;
        position: relative;
        border: 0;
        color: var(--foregroundcolor);
        text-align: center;
        height: 1.5em;

        filter: drop-shadow(0 0 1px var(--backgroundcolor));

        &:before {
            content: "";
            background: var(--foregroundcolor-lightest);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
        }

        &:after {
            content: attr(aria-label);
            position: relative;
            display: inline-block;
            padding: 0 2vw;
            line-height: 1.5em;
            background-color: var(--backgroundcolor);
        }
    }

    // [id]:target::before {
    //     content: "";
    //     display: block;
    //     height: @spacer-height;
    //     margin-top: -@spacer-height;
    //     visibility: hidden;
    // }
}

@media (max-width: 1023px) {
    .images {
        > div {
            img {
                height: auto;
                max-height: calc(100vh - 4vw);
                max-width: calc(100vw - 4vw);
            }
        }

        > article {
            overflow: visible;
            max-width: calc(100vw - 4vw);
            height: auto;

            font-size: unset;
        }
    }
}
