@backgroundcolor: rgb(20,20,20);
@backgroundcolor-trans: rgba(20,20,20, 0.85);
@backgroundcolor-light: rgb(37,37,37);
@backgroundcolor-light-trans: rgba(37,37,37, 0.85);
@backgroundcolor-lighter: rgb(54,54,54);
@backgroundcolor-lighter-trans: rgba(54,54,54, 0.85);
@backgroundcolor-lightest: rgb(71,71,71);
@backgroundcolor-lightest-trans: rgba(71,71,71, 0.85);

@foregroundcolor: rgb(238,238,238);
@foregroundcolor-trans: rgba(238,238,238, 0.85);
@foregroundcolor-light: rgb(221,221,221);
@foregroundcolor-light-trans: rgba(221,221,221, 0.85);
@foregroundcolor-lighter: rgb(204,204,204);
@foregroundcolor-lighter-trans: rgba(204,204,204, 0.85);
@foregroundcolor-lightest: rgb(187,187,187);
@foregroundcolor-lightest-trans: rgba(187,187,187, 0.85);


@box-shadow-top: 0 -10px 30px rgba(0, 0, 0, .1), 0 -1px 8px rgba(0, 0, 0, 0.2);
@box-shadow-right: 10px 0 30px rgba(0, 0, 0, 0.1), 1px 0 8px rgba(0, 0, 0, 0.2);
@box-shadow-down: 0 10px 30px rgba(0, 0, 0, .1), 0 1px 8px rgba(0, 0, 0, .2);
@box-shadow-left: -10px 0 30px rgba(0, 0, 0, 0.1), -1px 0 8px rgba(0, 0, 0, 0.2);

@transition-time: 250ms;

@nav-width: 300px;
@nav-z-index: 300;
@spacer-height: 60px;

@backdrop-filter: blur(3px) saturate(50%);

:root {
    --backgroundcolor: @backgroundcolor;
    --backgroundcolor-trans: @backgroundcolor-trans;
    --backgroundcolor-light: @backgroundcolor-light;
    --backgroundcolor-light-trans: @backgroundcolor-light-trans;
    --backgroundcolor-lighter: @backgroundcolor-lighter;
    --backgroundcolor-lighter-trans: @backgroundcolor-lighter-trans;
    --backgroundcolor-lightest: @backgroundcolor-lightest;
    --backgroundcolor-lightest-trans: @backgroundcolor-lightest-trans;

    --foregroundcolor: @foregroundcolor;
    --foregroundcolor-trans: @foregroundcolor-trans;
    --foregroundcolor-light: @foregroundcolor-light;
    --foregroundcolor-light-trans: @foregroundcolor-light-trans;
    --foregroundcolor-lighter: @foregroundcolor-lighter;
    --foregroundcolor-lighter-trans: @foregroundcolor-lighter-trans;
    --foregroundcolor-lightest: @foregroundcolor-lightest;
    --foregroundcolor-lightest-trans: @foregroundcolor-lightest-trans;

}
